.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.row1 {
    border: 1px solid lightgray;
    /* background-color: red; */
}
.row2 {
    height: 20%;
    border: 1px solid lightgray;
    /* background-color: blue; */
    display: flex;
}
.txtBox {
    flex-grow: 1;
}
.sendBtn {
    min-width: 10%;
}
.row3 {
    border: 1px solid lightgray;
    /* background-color: green; */
    flex:2;
    display: flex;
}
.col1 {
    border: 1px solid lightgray;
    /* background-color: yellow; */
    flex: 0 0 240px;
    /* min-height: 100%;chrome needed it a question time , not anymore */
}
.col2 {
    border: 1px solid lightgray;
    /* background-color: orange; */
    flex: 1 1;
    /* min-height: 100%;chrome needed it a question time , not anymore */
}

.wrongMessage {
    /* color: red; */
    display: none;
    font-size: larger;
    font-weight: 900;
}